<div>

  <h3>{{this.title}}</h3>
  {{#each allProds}}
    <p>
      <li>Id: {{this.id}}</li>
      <li> Title: {{this.title}}</li>
      <li>Description: {{this.description}}</li>
      <li>Price: {{this.price}}</li>
      <li>Thumbnail: {{this.thumbnail}}</li>
      <li>Code: {{this.code}}</li>
      <li>Stock: {{this.stock}}</li>
      <li>Status: {{this.status}}</li>
      <li>Category: {{this.category}}</li>

    </p>
    <hr />

  {{/each}}
</div>