
  <h3>{{this.namePage}}</h3>
  

 
<div class="container d-flex flex-wrap ">
  {{#each prods}}
    <div class="m-4 border border-light p-1 ">
      <li>Id: {{this._id}}</li>
      <li>Title: {{this.title}}</li>
      <li>Description: {{this.description}}</li>
      <li>Price: {{this.price}}</li>
      <li>Thumbnail: {{this.thumbnail}}</li>
      <li>Code: {{this.code}}</li>
      <li>Stock: {{this.stock}}</li>
      <li>Status: {{this.status}}</li>
      <li>Category: {{this.category}}</li>

    </div>
    <hr />

  {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/testing-sockets.js"></script>