
  <h3>{{this.titlePage}}</h3>
  <div>
  <h4>Precios</h4>
  <button type="button" class="btn btn-light" id="ascBtn" >⇧</button>
  <button type="button" class="btn btn-light" id="descBtn"> ⇩</button>

  </div>
<div class="container d-flex flex-wrap ">
  {{#each users}}
    <div class="m-4 border border-light p-1 ">
      <li>Id: {{this._id}}</li>
      <li>Name: {{this.first_name}}</li>
      <li>Last Name: {{this.last_name}}</li>
      <li>Email: {{this.email}}</li>
      <li>Carts: {{this.carts}}</li>
    </div>
    <hr />

  {{/each}}
</div>
